# Ignore Debug directory
WichitaGame/Debug/
WichitaGame/WichitaGame/Debug/

# Ignore user-specific files
*.user
*.vcxproj
*.vcxproj*

# Ignore build files
*.ncb
*.suo
*.sdf
*.opensdf
*.ipch